* {
    box-sizing: border-box;
}

.home-div {
    background-color: rgb(33,33,33);
    // background-color: rgb(150, 147, 147);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
        height: auto;
      }

    .navbar {
        padding: 5px 50px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
          }

        .left {
            height: 100%;
            width: 100%;
            // flex: 1;
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: 600px) {
                height: 60vh;
              }

            .editor {
                // flex: 1;
                height: 100%;
                // background-color: red;
            }
            .footer {
                // height: 50px;
                box-sizing: border-box;
                padding: 30px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 10px;
            }
        }
        .right {
            width: 400px; 
            height: 100%;
            padding: 0 20px;
            overflow-y: scroll;
            @media only screen and (max-width: 600px) {
                height: auto;
              }
            // padding-bottom: 200px;
            // background-color: red;

            h2 {
                font-weight: 500;
                margin-bottom: 10px;
            }
            h3 {
                font-weight: 500;
                margin-bottom: 10px;
            }
            hr {
                border: none;
                height: 1px;
                margin: 0;
                background-color: rgba(255, 255, 255, 0.12);
            }
            .react-dropdown-select-dropdown{
                background: rgb(33,33,33);
            }
            .react-dropdown-select-item {
                border: 0;
            }
        }
    }
}

.button {
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}
.button2 {
    // background-color: white;
    // color: black;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
    border: 1px solid white;
}